<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobvoi.appstore.server.dao.AppMapMapper">
  <resultMap id="BaseResultMap" type="com.mobvoi.appstore.server.model.AppMap">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="developer_id" jdbcType="INTEGER" property="developerId" />
    <result column="download_count" jdbcType="INTEGER" property="downloadCount" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="alias_name" jdbcType="VARCHAR" property="aliasName" />
    <result column="description_orig" jdbcType="VARCHAR" property="descriptionOrig" />
    <result column="operate_note" jdbcType="VARCHAR" property="operateNote" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="second_category_id" jdbcType="INTEGER" property="secondCategoryId" />
    <result column="third_category_id" jdbcType="INTEGER" property="thirdCategoryId" />
    <result column="create_date" jdbcType="INTEGER" property="createDate" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="apk_package_name" jdbcType="VARCHAR" property="apkPackageName" />
    <result column="rank_score" jdbcType="REAL" property="rankScore" />
    <result column="recommend_similar" jdbcType="VARCHAR" property="recommendSimilar" />
    <result column="wear_standalone" jdbcType="BIT" property="wearStandalone" />
    <result column="app_from" jdbcType="VARCHAR" property="appFrom" />
    <result column="support_hardware" jdbcType="VARCHAR" property="supportHardware" />
    <result column="need_pay" jdbcType="BIT" property="needPay" />
    <result column="hardware_tips" jdbcType="VARCHAR" property="hardwareTips" />
    <result column="show_in_wear_appstore" jdbcType="BIT" property="showInWearAppstore" />
    <result column="show_in_phone_appstore" jdbcType="BIT" property="showInPhoneAppstore" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, developer_id, download_count, category_id, logo_url, summary, 
    is_deleted, alias_name, description_orig, operate_note, tags, second_category_id, 
    third_category_id, create_date, score, apk_package_name, rank_score, recommend_similar, 
    wear_standalone, app_from, support_hardware, need_pay, hardware_tips, show_in_wear_appstore, 
    show_in_phone_appstore, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mobvoi.appstore.server.model.AppMap">
    insert into app (id, name, description, 
      developer_id, download_count, category_id, 
      logo_url, summary, is_deleted, 
      alias_name, description_orig, operate_note, 
      tags, second_category_id, third_category_id, 
      create_date, score, apk_package_name, 
      rank_score, recommend_similar, wear_standalone, 
      app_from, support_hardware, need_pay, 
      hardware_tips, show_in_wear_appstore, show_in_phone_appstore, 
      price)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{developerId,jdbcType=INTEGER}, #{downloadCount,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, 
      #{logoUrl,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{aliasName,jdbcType=VARCHAR}, #{descriptionOrig,jdbcType=VARCHAR}, #{operateNote,jdbcType=VARCHAR}, 
      #{tags,jdbcType=VARCHAR}, #{secondCategoryId,jdbcType=INTEGER}, #{thirdCategoryId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=INTEGER}, #{score,jdbcType=REAL}, #{apkPackageName,jdbcType=VARCHAR}, 
      #{rankScore,jdbcType=REAL}, #{recommendSimilar,jdbcType=VARCHAR}, #{wearStandalone,jdbcType=BIT}, 
      #{appFrom,jdbcType=VARCHAR}, #{supportHardware,jdbcType=VARCHAR}, #{needPay,jdbcType=BIT}, 
      #{hardwareTips,jdbcType=VARCHAR}, #{showInWearAppstore,jdbcType=BIT}, #{showInPhoneAppstore,jdbcType=BIT}, 
      #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mobvoi.appstore.server.model.AppMap">
    insert into app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="developerId != null">
        developer_id,
      </if>
      <if test="downloadCount != null">
        download_count,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="logoUrl != null">
        logo_url,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="aliasName != null">
        alias_name,
      </if>
      <if test="descriptionOrig != null">
        description_orig,
      </if>
      <if test="operateNote != null">
        operate_note,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="secondCategoryId != null">
        second_category_id,
      </if>
      <if test="thirdCategoryId != null">
        third_category_id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="apkPackageName != null">
        apk_package_name,
      </if>
      <if test="rankScore != null">
        rank_score,
      </if>
      <if test="recommendSimilar != null">
        recommend_similar,
      </if>
      <if test="wearStandalone != null">
        wear_standalone,
      </if>
      <if test="appFrom != null">
        app_from,
      </if>
      <if test="supportHardware != null">
        support_hardware,
      </if>
      <if test="needPay != null">
        need_pay,
      </if>
      <if test="hardwareTips != null">
        hardware_tips,
      </if>
      <if test="showInWearAppstore != null">
        show_in_wear_appstore,
      </if>
      <if test="showInPhoneAppstore != null">
        show_in_phone_appstore,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="developerId != null">
        #{developerId,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null">
        #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="aliasName != null">
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="descriptionOrig != null">
        #{descriptionOrig,jdbcType=VARCHAR},
      </if>
      <if test="operateNote != null">
        #{operateNote,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="secondCategoryId != null">
        #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null">
        #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
      <if test="apkPackageName != null">
        #{apkPackageName,jdbcType=VARCHAR},
      </if>
      <if test="rankScore != null">
        #{rankScore,jdbcType=REAL},
      </if>
      <if test="recommendSimilar != null">
        #{recommendSimilar,jdbcType=VARCHAR},
      </if>
      <if test="wearStandalone != null">
        #{wearStandalone,jdbcType=BIT},
      </if>
      <if test="appFrom != null">
        #{appFrom,jdbcType=VARCHAR},
      </if>
      <if test="supportHardware != null">
        #{supportHardware,jdbcType=VARCHAR},
      </if>
      <if test="needPay != null">
        #{needPay,jdbcType=BIT},
      </if>
      <if test="hardwareTips != null">
        #{hardwareTips,jdbcType=VARCHAR},
      </if>
      <if test="showInWearAppstore != null">
        #{showInWearAppstore,jdbcType=BIT},
      </if>
      <if test="showInPhoneAppstore != null">
        #{showInPhoneAppstore,jdbcType=BIT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mobvoi.appstore.server.model.AppMap">
    update app
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="developerId != null">
        developer_id = #{developerId,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null">
        download_count = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="aliasName != null">
        alias_name = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="descriptionOrig != null">
        description_orig = #{descriptionOrig,jdbcType=VARCHAR},
      </if>
      <if test="operateNote != null">
        operate_note = #{operateNote,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="secondCategoryId != null">
        second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null">
        third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=REAL},
      </if>
      <if test="apkPackageName != null">
        apk_package_name = #{apkPackageName,jdbcType=VARCHAR},
      </if>
      <if test="rankScore != null">
        rank_score = #{rankScore,jdbcType=REAL},
      </if>
      <if test="recommendSimilar != null">
        recommend_similar = #{recommendSimilar,jdbcType=VARCHAR},
      </if>
      <if test="wearStandalone != null">
        wear_standalone = #{wearStandalone,jdbcType=BIT},
      </if>
      <if test="appFrom != null">
        app_from = #{appFrom,jdbcType=VARCHAR},
      </if>
      <if test="supportHardware != null">
        support_hardware = #{supportHardware,jdbcType=VARCHAR},
      </if>
      <if test="needPay != null">
        need_pay = #{needPay,jdbcType=BIT},
      </if>
      <if test="hardwareTips != null">
        hardware_tips = #{hardwareTips,jdbcType=VARCHAR},
      </if>
      <if test="showInWearAppstore != null">
        show_in_wear_appstore = #{showInWearAppstore,jdbcType=BIT},
      </if>
      <if test="showInPhoneAppstore != null">
        show_in_phone_appstore = #{showInPhoneAppstore,jdbcType=BIT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mobvoi.appstore.server.model.AppMap">
    update app
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      developer_id = #{developerId,jdbcType=INTEGER},
      download_count = #{downloadCount,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      alias_name = #{aliasName,jdbcType=VARCHAR},
      description_orig = #{descriptionOrig,jdbcType=VARCHAR},
      operate_note = #{operateNote,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=INTEGER},
      score = #{score,jdbcType=REAL},
      apk_package_name = #{apkPackageName,jdbcType=VARCHAR},
      rank_score = #{rankScore,jdbcType=REAL},
      recommend_similar = #{recommendSimilar,jdbcType=VARCHAR},
      wear_standalone = #{wearStandalone,jdbcType=BIT},
      app_from = #{appFrom,jdbcType=VARCHAR},
      support_hardware = #{supportHardware,jdbcType=VARCHAR},
      need_pay = #{needPay,jdbcType=BIT},
      hardware_tips = #{hardwareTips,jdbcType=VARCHAR},
      show_in_wear_appstore = #{showInWearAppstore,jdbcType=BIT},
      show_in_phone_appstore = #{showInPhoneAppstore,jdbcType=BIT},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>